* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #13010b;
}
.herat {
  width: 70px;
  height: 70px;
  background: #f90b57;
  position: relative;
  box-shadow: 0 0 20 px #ff155f, 0 0 60 px #ff155f;
  transform: rotate(-45deg);
  animation: heart 1s linear infinite 0.2s alternate;
}
@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1);
  }
  90% {
    transform: rotate(-45deg) scale(1.6);
  }
  100% {
    transform: rotate(-45deg) scale(1.4);
  }
}

.herat::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f90b57;
  border-radius: 50%;
  left: 0;
  top: -50%;
}
.herat::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #f90b57;
  border-radius: 50%;
  top: 0;
  right: -50%;
}
